@charset "UTF-8";
/*Ширина контейнера*/
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

h1 {
  /*Миксин для адаптивного шрифта*/
  /*использование миксина: первое значение- максимальный шрифт в макете, второе значение- минимальный */
  /*Миксин для адаптивного шрифта*/
  /*использование миксина: первое значение- максимальный line-height в макете, второе значение- минимальный */
}
@media (min-width: 1320px) {
  h1 {
    font-size: 36px; /*ограничивает увеличение шрифта после 1920 пикселей */
  }
}
@media (max-width: 1320px) {
  h1 {
    font-size: calc(26px + 10 * (100vw - 320px) / 1000);
  }
}
@media (min-width: 1320px) {
  h1 {
    line-height: 28px; /*ограничивает увеличение line-height после 1920 пикселей */
  }
}
@media (max-width: 1320px) {
  h1 {
    line-height: calc(18px + 10 * (100vw - 320px) / 1000);
  }
}

/*************************************************************/
a {
  text-decoration: none;
  color: inherit;
}

Html, body {
  color: rgb(34, 34, 34);
  font-family: Nunito Sans;
  /*Миксин для адаптивного шрифта*/
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
}
@media (min-width: 1320px) {
  Html, body {
    font-size: 16px; /*ограничивает увеличение шрифта после 1920 пикселей */
  }
}
@media (max-width: 1320px) {
  Html, body {
    font-size: calc(12px + 4 * (100vw - 320px) / 1000);
  }
}

h2 {
  /*Миксин для адаптивного шрифта*/
  color: rgb(34, 34, 34);
  font-family: Nunito Sans;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
@media (min-width: 1320px) {
  h2 {
    font-size: 28px; /*ограничивает увеличение шрифта после 1920 пикселей */
  }
}
@media (max-width: 1320px) {
  h2 {
    font-size: calc(20px + 8 * (100vw - 320px) / 1000);
  }
}
h2::before {
  display: block;
  position: absolute;
  bottom: 0;
  margin: 10px auto 0;
  left: 0;
  right: 0;
  content: "";
  background: rgb(79, 143, 240);
  width: 50px;
  height: 3px;
}

h3 {
  margin: 0 auto;
  margin-top: 24px;
  color: rgb(34, 34, 34);
  font-family: Nunito Sans;
  /*Миксин для адаптивного шрифта*/
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 920px;
}
@media (min-width: 1320px) {
  h3 {
    font-size: 16px; /*ограничивает увеличение шрифта после 1920 пикселей */
  }
}
@media (max-width: 1320px) {
  h3 {
    font-size: calc(14px + 2 * (100vw - 320px) / 1000);
  }
}

section {
  padding: 70px 0;
}

.menu__list {
  display: flex;
  gap: 35px;
  transition: all 0.5s ease;
}

@media (max-width: 991px) {
  .menu__list {
    display: none;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(21, 21, 21, 0.968627451);
    padding-top: 200px;
  }
}
.menu__list.open {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(21, 21, 21, 0.968627451);
  padding-top: 100px;
  transform: translateX(0%);
}

.icon-menu {
  display: none;
}

@media (max-width: 991px) {
  .icon-menu {
    display: block;
    position: relative;
    position: absolute;
    top: 96px;
    right: 24px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 15;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active {
    position: fixed;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
/*************************************************************/
.header {
  position: relative;
  top: 0px;
  z-index: 2;
}

.header__container {
  margin: 0 auto;
  max-width: none;
  padding: 0;
}

.header__first-line {
  padding: 16px 15px;
  background: rgb(1, 1, 1);
}

.header__first-line-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1350px;
  padding: 0;
  align-items: center;
}

.header__first-line-phone-and-mail {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__first-line-phone {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__first-line-phone-text {
  color: white;
  cursor: url(src/cust-cursor-vec.svg) 2 2, default;
  transition: all 0.3s ease;
}
.header__first-line-phone-text:hover {
  color: rgb(79, 143, 240);
}

.header__first-line-mail {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 432px) {
  .header__first-line-mail {
    display: none;
  }
}

.header__first-line-mail-text {
  color: white;
  cursor: url(src/cust-cursor-vec.svg) 2 2, default;
  transition: all 0.3s ease;
}
.header__first-line-mail-text:hover {
  color: rgb(79, 143, 240);
}

.header__first-line-text {
  color: white;
  cursor: url(src/cust-cursor-vec.svg) 2 2, default;
  transition: all 0.3s ease;
}
.header__first-line-text:hover {
  color: rgb(79, 143, 240);
}

.header__second-line {
  padding: 30px 15px;
  background: rgba(1, 1, 1, 0.76);
}

.header__second-line-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1350px;
  padding: 0;
  align-items: center;
}

.logo {
  color: rgb(255, 255, 255);
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 900;
  line-height: 63%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: lowercase;
}
@media (max-width: 368px) {
  .logo {
    font-size: 16px;
  }
}
.logo span {
  color: rgb(79, 143, 240);
  font-family: Nunito Sans;
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
@media (max-width: 368px) {
  .logo span {
    font-size: 20px;
  }
}

.header-nav {
  display: flex;
  gap: 25px;
}

.header-nav-item-a {
  color: rgb(255, 255, 255);
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  transition: all ease 0.3s;
  cursor: url(src/cust-cursor-vec.svg) 2 2, default;
}
.header-nav-item-a:hover {
  color: rgb(79, 143, 240);
}

/*************************************************************/
.services {
  margin-top: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background: url(src/background.jpeg);
  height: calc(100vh - 140px);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-height: 556px) {
  .services {
    height: 416px;
  }
}

.services__all-text {
  padding-top: 300px;
  text-align: center;
}
@media (max-height: 670px) {
  .services__all-text {
    padding-top: 152px;
  }
}

.services-title {
  color: rgb(255, 255, 255);
  font-family: Nunito Sans;
  /*Миксин для адаптивного шрифта*/
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
@media (min-width: 1320px) {
  .services-title {
    font-size: 30px; /*ограничивает увеличение шрифта после 1920 пикселей */
  }
}
@media (max-width: 1320px) {
  .services-title {
    font-size: calc(18px + 12 * (100vw - 320px) / 1000);
  }
}

.services-subtitle {
  margin-top: 8px;
  color: rgb(79, 143, 240);
  font-family: Nunito Sans;
  /*Миксин для адаптивного шрифта*/
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
@media (min-width: 1320px) {
  .services-subtitle {
    font-size: 56px; /*ограничивает увеличение шрифта после 1920 пикселей */
  }
}
@media (max-width: 1320px) {
  .services-subtitle {
    font-size: calc(30px + 26 * (100vw - 320px) / 1000);
  }
}

.services-text {
  margin-top: 8px;
  color: rgb(255, 255, 255);
  font-family: Nunito Sans;
  /*Миксин для адаптивного шрифта*/
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
@media (min-width: 1320px) {
  .services-text {
    font-size: 20px; /*ограничивает увеличение шрифта после 1920 пикселей */
  }
}
@media (max-width: 1320px) {
  .services-text {
    font-size: calc(16px + 4 * (100vw - 320px) / 1000);
  }
}
@media (max-width: 1430px) {
  .services-text {
    padding: 0 70px;
  }
}
@media (max-width: 614px) {
  .services-text {
    padding: 0 10px;
  }
}

.button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(79, 143, 240);
  /* blue-color-100 */
  background: rgb(79, 143, 240);
  padding: 16px 24px 16px 24px;
  cursor: url(src/cust-cursor-vec.svg) 2 2, default;
  transition: all 0.3s ease;
}
.button:hover {
  background: rgb(53, 95, 158);
  border: 2px solid rgb(53, 95, 158);
}

.button-gray {
  display: block;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(230, 230, 230);
  /* blue-color-100 */
  background: rgb(230, 230, 230);
  padding: 16px 24px 16px 24px;
}

.services-button {
  margin-top: 48px;
  z-index: 5;
}

/*************************************************************/
.our {
  margin-top: calc(100vh - 166.59px);
  background: rgb(247, 247, 247);
}
@media (max-height: 520px) {
  .our {
    margin-top: 352px;
  }
}

.our__items {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.our__item {
  max-width: 384px;
  max-height: 150px;
  padding: 70px 20px;
  /* white-color-100 */
  background: rgb(255, 255, 255);
  transition: all ease 0.3s;
  position: relative;
  cursor: url(src/cust-cursor-vec.svg) 2 2, default;
}
@media (max-width: 492px) {
  .our__item {
    max-width: 255px;
  }
}
.our__item:hover {
  background: rgb(79, 143, 240);
}
.our__item:hover .our__item-title {
  color: white;
}
.our__item:hover .our__item-text {
  color: white;
}
.our__item:hover .our__item-img {
  fill: rgb(255, 255, 255);
}

.our__item-wrapper {
  margin: 0 auto;
  text-align: center;
}

.our__item-img {
  transition: all ease 0.3s;
  margin: 0 auto;
  display: block;
  transition: fill 0.3s ease;
}

.our__item-title {
  margin-top: 15px;
  transition: all ease 0.3s;
  color: rgb(34, 34, 34);
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 492px) {
  .our__item-title {
    font-size: 16px;
  }
}

.our__item-text {
  transition: all ease 0.3s;
  color: rgb(34, 34, 34);
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
@media (max-width: 492px) {
  .our__item-text {
    font-size: 12px;
  }
}

.our-corners {
  position: absolute;
  top: 25px;
  left: 25px;
}
@media (max-width: 492px) {
  .our-corners {
    width: 248px;
    height: 215px;
  }
}

.our-button {
  margin-top: 70px;
}

.swiper-container-our {
  display: none;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
@media (max-width: 998px) {
  .swiper-container-our {
    display: block;
  }
}

.our__items-fhd {
  display: flex;
}
@media (max-width: 998px) {
  .our__items-fhd {
    display: none;
  }
}

/*************************************************************/
.title span {
  color: rgb(79, 143, 240);
  font-family: Nunito Sans;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.company-title {
  text-align: left;
}
.company-title::before {
  left: 0;
  margin: 0;
}

.company-subtitle {
  text-align: left;
  margin: 20px 0;
  max-width: 720px;
}

.company__buttons {
  display: flex;
  gap: 24px;
}

.company-button {
  margin: 0;
}

.company__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1310px) {
  .company__wrapper {
    flex-direction: column;
  }
}

@media (max-width: 1310px) {
  .company-img {
    display: none;
  }
}

/*************************************************************/
.urists {
  background: rgb(247, 247, 247);
}

.urists__items {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.urists__item {
  cursor: url(src/cust-cursor-vec.svg) 2 2, default;
  max-width: 312px;
  height: 414px;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  background: rgb(255, 255, 255);
}
.urists__item:hover .urists__item-more {
  top: 0;
}
.urists__item:hover .urists__more-corners {
  visibility: visible;
}
.urists__item:hover .urists__more-name {
  margin-top: 83px;
}

.urists__item-img {
  display: block;
  width: 312px;
  height: 320px;
}

.urists__item-more {
  text-align: center;
  top: 320px;
  height: 414px;
  transition: all ease 0.3s;
  position: absolute;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  background: rgb(255, 255, 255);
}

.urists__more-corners {
  transition: all ease 0.3s;
  visibility: hidden;
  position: absolute;
  top: 25px;
  left: 25px;
}

.urists__more-name {
  margin-top: 24px;
  color: rgb(34, 34, 34);
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

.urists__more-position {
  margin-top: 10px;
  color: rgb(34, 34, 34);
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: lowercase;
}

.urists__more-about {
  color: rgb(0, 0, 0);
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin: 40px 0;
}

.urists__more-expirience {
  color: rgb(34, 34, 34);
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

.mySwiper-urists {
  width: 100%;
  overflow: hidden;
  margin: 30px auto;
  height: 420px;
}

/**********************************************/
.feedback {
  background: url(src/feedback-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback-title {
  text-align: left;
}
.feedback-title::before {
  left: 0;
  margin: 0;
}

.feedback__top-img {
  display: block;
}

.feedback__items {
  margin-bottom: 35px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  max-height: 244px;
}

.feedback-item {
  width: 590px !important;
  height: 240px;
  padding: 32px;
  background-color: white;
}
@media (max-width: 694px) {
  .feedback-item {
    width: 300px !important;
  }
}

.feedback-item-first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback-item-first-line-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.feedback-item-company {
  color: rgb(34, 34, 34);
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.feedback-item-company span {
  color: rgb(34, 34, 34);
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
@media (max-width: 694px) {
  .feedback-item-company span {
    font-size: 16px;
  }
}

@media (max-width: 694px) {
  .feedback-item-feather {
    display: none;
  }
}

.feedback-item-second-line {
  margin-top: 16px;
  max-width: 584px;
}

.mySwiper-feedback {
  width: 100%;
  overflow: hidden;
  margin: 30px auto;
}

/***********************************************/
.goods__items {
  margin: 48px 0;
  display: flex;
  justify-content: space-between;
}

.goods__item {
  max-width: 424px;
  max-height: 481px;
  cursor: url(src/cust-cursor-vec.svg) 2 2, default;
}
@media (max-width: 476px) {
  .goods__item {
    max-width: 280px;
  }
}
.goods__item:hover .goods__corners {
  visibility: visible;
  opacity: 1;
}
.goods__item:hover .goods__item-eye {
  visibility: visible;
  opacity: 1;
}
.goods__item:hover .gradient {
  background: rgba(79, 143, 240, 0.4);
}

.goods__item-images {
  max-width: 424px;
  max-height: 270px;
  position: relative;
}
@media (max-width: 476px) {
  .goods__item-images {
    max-width: 280px;
    max-height: 270px;
  }
}

.goods__item-main-img {
  display: block;
}
@media (max-width: 476px) {
  .goods__item-main-img {
    max-width: 280px;
    max-height: 270px;
  }
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  transition: all ease-in 0.3s;
  z-index: 2;
}
.goods__corners {
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in 0.3s;
}
@media (max-width: 476px) {
  .goods__corners {
    width: 245px;
    height: 140px;
  }
}

.goods__item-eye {
  z-index: 3;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in 0.3s;
}
@media (max-width: 476px) {
  .goods__item-eye {
    top: 40%;
  }
}

.goods__item-all-text {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.goods__item-title {
  color: rgb(34, 34, 34);
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.goods__item-date {
  color: rgb(34, 34, 34);
  font-family: Nunito Sans;
  font-size: 12px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.goods__item-text {
  color: rgb(34, 34, 34);
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.mySwiper-goods {
  width: 100%;
  overflow: hidden;
  margin: 30px auto;
}

/*************************************************/
.footer {
  /* colors-black-text */
  background: rgb(34, 34, 34);
}

.footer__wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer__first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-first-line-text {
  max-width: 65%;
  color: rgb(248, 245, 244);
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: lowercase;
}
@media (max-width: 993px) {
  .footer-first-line-text {
    display: none;
  }
}

.footer__second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}
@media (max-width: 576px) {
  .footer__second-line {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}

.footer-icons-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-icons-item {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer-icons-text {
  color: rgb(140, 140, 140);
  font-family: Nunito Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.footer-icons-text span {
  color: rgb(255, 255, 255);
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 1210px) {
  .footer-links {
    display: none;
  }
}

.footer-link {
  color: rgb(255, 255, 255);
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  transition: all ease-in 0.3s;
  cursor: url(src/cust-cursor-vec.svg) 2 2, default;
}
.footer-link:hover {
  color: rgb(79, 143, 240);
}

.footer-ps-top {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 16px;
}

.footer-ps-text {
  color: rgb(255, 255, 255);
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.footer-ps-text span {
  color: rgb(255, 255, 255);
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.footer-ps-text-2 {
  max-width: 424px;
  color: rgb(255, 255, 255);
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.footer-ps-button {
  margin: 16px 0 0 0;
}

.footer__copy {
  background: rgb(24, 24, 24);
  padding: 16px 0;
}

.footer__copy-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 516px) {
  .footer__copy-wrapper {
    flex-direction: column;
    gap: 10px;
  }
}

.footer__copy-text {
  color: rgb(255, 255, 255);
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}/*# sourceMappingURL=style.css.map */